Compilador de Triangle/ide-triangle-v1.1.src/nbproject/private/private.properties
Compilador de Triangle/Triangle/nbproject/private/private.properties
Compilador de Triangle/ide-triangle-v1.1.src/nbproject/private/private.properties
Compilador de Triangle/Triangle/nbproject/private/private.properties
Compilador de Triangle/ide-triangle-v1.1.src/nbproject/private/private.properties
/Compilador de Triangle/Triangle/build/
/Compilador de Triangle/Triangle/dist/
Compilador de Triangle/ide-triangle-v1.1.src/nbproject/private/private.properties
Compilador de Triangle/Triangle/nbproject/private/private.properties
Compilador de Triangle/Triangle/nbproject/private/private.properties
